CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.cmake
.cache

# ==========================================
# Project Specific Hardening
# ==========================================
# NEVER track your local Alpine testing rootfs to keep the repo lightweight
rootfs/

# Ignore the compiled executable binary at the root if you compile manually
projet_sandbox

# Ignore modern LSP flag configurations cache if generated locally
.clangd/
.clangd

# ==========================================
# IDEs & Local Dev Environment
# ==========================================
# VSCodium / VS Code local configuration & workspace storage
.vscode/

# Local backup files and swap files from vim/nano
*.swp
*~
.DS_Store
